html
{
	font-family: 'Roboto', sans-serif;
}
body
{
	cursor: pointer;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}


header
{
	display: flex;
	width: 100%;
	height: 50px;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 10px;
}

#logo
{
	display: flex;
	width: 150px;
	height: 50px;
}
.localisation
{
	background-color: #E5EAEE; /*ok */
	display: flex;
	width: 100%;
	height: auto;
	flex-direction: column;
	flex-wrap: wrap;
	font-family: 'Roboto', sans-serif;
	position: relative;
}


.rechercheVille
{
	display: flex;
	width: 100%;
	height: auto;
	background-color: #CCCFD2;
	border:none;
	border-top: 0px solid #AFB2B5;
	font-size: 20px;
	flex-wrap: wrap;
	padding-top: 20px;
	padding-bottom: 20px;
	
}
.rechercheVille::placeholder
{
	text-align: left;
	padding-left: 10px;
	color: black;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}
.rechercheIcone
{
	display: flex;
	flex-direction: row;
	margin: auto;
	width: auto;
	border-top: 5px solid #AFB2B5;
	background-color: #CCCFD2;
	justify-content: center;
}
.rechercheIcone i
{

	display: flex;
	font-size: 25px;
	width: 100px;
	height: 65px;	
	justify-content: flex-end;
	align-items: center;
}
.localisation h2
{
	
	justify-content: center;
	text-align: center;
	width: auto;
	height: auto;
	flex-wrap: wrap;
	margin-left: 30px;
	margin-right: 30px;
}
.localisation p
{
	display: flex;
	justify-content: center;
	text-align: center;
	width: auto;
	height: auto;
	flex-wrap: wrap;
}
.rechercher
{
	display: flex;
	
	background: linear-gradient(#FF79DA, #9356DC);
	color: white;
	height: auto;
	width: auto;
	font-size: 20px;
	margin: auto;
	margin-bottom: 50px;
	padding: 15px 30px 15px 30px;
	box-shadow: 5px 5px 5px grey;
	border-radius: 50px 50px 50px 50px;
	flex-wrap: wrap;
	border:none;	
}
.rechercher:hover 
{
	background-color: #FF79DA;
	box-shadow: 10px 10px 10px #9356DC; ;
}
ol
{
	list-style-type: none;
}
li
{
	background-color: #E5EAEE;
	counter-increment: list;
	margin-left: 0px;
	margin-right: 20px;
	margin-bottom: 20px;
	border:2px;
	border-radius: 30px;
	box-shadow: 5px 5px 5px #CCCFD2;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 10px;
	font-weight: bold;
}
li i
{
	margin-right: 20px;
	color: #767879;
	font-size: 25px;
}
li .fa-store
{
	color: #9356DC;
}
li::before
{
	content: counter(list);
	border:2px;
	border-radius: 50%;
	margin-right:0px;
	padding: 0.3rem 0.6rem;
	background-color: #9356DC;
	color: white;
	position: relative;
	right: 23px;
}

.restaurant
{
	display: flex;
	width: auto;
	height: 1265px;
	flex-direction: column;
	background-color: #E5EAEE;
	padding-bottom: 50px;
}
.restaurant a
{
	text-decoration: none;
}
.restaurant h2 
{
	margin-left: 20px;
}
.blocRestaurant
{
	display: flex;
	width: auto;
	height: auto;
	flex-direction: column;
	border-radius: 10px 10px 10px 10px;
	margin: 20px;
	margin-top: 0px;
	position: relative;
}
.photoRestaurant
{
	display: flex;
	width: 100%;
	height: 200px;
	border-radius: 10px 10px 0px 0px;
	object-fit: cover;

}
.nomRestaurant
{
	background-color: white;
	width: auto;
	height: auto;
	border-radius: 0px 0px 10px 10px;
	padding-left: 10px;
	padding-top: 10px;
}
.nomRestaurant span
{
	font-weight: bold;
}
.fa-heart
{
	float: right;
	color: #3C3D3E;
	width: 20px;
	margin-right: 20px;
	margin-top: 10px;
	font-size: 25px;
}
.fa-heart::before 
{
    transition: color 2s ease-out;
}
.fa-heart:hover::before
{
    color: #9356DC;
    cursor: pointer;
    font-weight: bold;
}
.nouveau
{
	display: flex;
	background-color: #AAF9CA;
	color:green;
	padding: 10px;
	width: 65px;
	position: absolute;
	top:20px;
	right:30px;
	border-radius: 5px;
}


footer
{
	display: flex;
	background-color: #3C3D3E;
	color: white;
	padding-left: 20px;
	padding-bottom: 50px;
	flex-direction: column;
}
footer h2
{
	font-family: 'Shrikhand', cursive;
	font-style: italic;
}
p i
{
	margin-right: 15px;
}
footer a
{
	color: white;
	text-decoration: none;
}
@media all and (min-width:500px) and (max-width: 1024px)
{	
	.rechercheVille
	{
	width: 50%;
	}
	.rechercheIcone
	{
		width: 80%;
		justify-content: center;
	}
	li
	{
		background-color: red;
		width: 60%;
	}
}
@media all and (min-width:1024px)
{
	.rechercheVille
	{
	width: 50%;
	}
	.rechercheIcone
	{
		width: 40%;
		justify-content: center;
		border-radius: 20px;
	}
	.fonctionnement
	{
		text-align: center;
	}
	.titreFonctionnement
	{
		
		display: inline-flex;
	}
	ol
	{
		display: flex;
		justify-content: center;
	}
	li
	{
		display: inline-flex;
		
		width: 30%;
	}
	.restaurant
	{
		background-image: url("images/Tour_eiffel.JPG");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		height: auto;

	}
	.blocRestaurant
	{
		margin-left: 120px;
		margin-right: 120px;
		width: 50%;	
		border: 4mm ridge white;
		border-radius: 0px;
	}
	.photoRestaurant, .nomRestaurant
	{
		border-radius: 0px;
	}
}